body
{
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif!important;
    font-size: 14px;
    line-height: 1.42857143;

    background: url("../img/background.png") repeat center center fixed;
    background-color: rgb(241, 242, 246);
}

.navbar-default
{
    font-size: 1.09em;

    height: 70px;
    padding-top: 8px;

    border: none;
    border-bottom: 2px solid rgba(59, 175, 218, .55);
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .45);
}

/**
 * Dropdown
 */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover
{
    color: #434a54;
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #434a54;
}


a,
a:hover,
a:focus
{
    cursor: pointer;
    text-decoration: none; /* no underline */

    color: #f5f7fa!important;
}

.underline
{
    color: #434a54!important;
    border-bottom: 2px solid transparent;
}

.underline:hover
{
    transition: border-color .318s;

    color: #434a54!important;
    border-bottom: solid 2px #5d9cec;
}

.well {
    padding: 4px;
}

/**
 * Nav bar message
 */
#nav-message
{
    width: 100%;
    margin-top: -5px;
    margin-bottom: 7px;

    opacity: .9;
}

#nav-message:hover
{
    opacity: 1;
}

#inner-message
{
    margin: 0 auto;
    padding: 8px;

    color: #f5f7fa;
    border-radius: 0;
}

/**
 * User img in navbar!
 * 40x40
 */

.nav-userimg
{
    position: absolute;

    width: 30px;
    height: 30px;
    margin-top: -5px;

    border: 1px solid;
    border-radius: 50%;
}

.btn-profile
{
    margin-top: 5px;
    padding: 10px 20px 10px 20px!important;

    color: #3bafda!important;
    border: 1px solid #3bafda!important;
    border-radius: 20px;
}

.btn-profile:hover,
.btn-profile:focus
{
    transition: background-color .418s;
    transition: color .318s;

    color: #f5f7fa!important;
    border: 1px solid #5d9cec!important;
    background-color: #3bafda!important;
}

.btn-android
{
    font-size: 24px;
    font-weight: 600;

    letter-spacing: 3px;
}

.btn-android > text
{
    position: relative;
    top: 2px;
}

.btn-home
{
    font-size: 24px;
    font-weight: 600;

    letter-spacing: 3px;
}

.btn-home > text
{
    position: relative;
    top: 2px;
}

.footer
{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;

    margin-top: 40px;

    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .85);
}

.logo
{
    height: 80px;
    margin-top: -13px;
}

/**
 * PROFILE!
 */

.avatar {
    position: absolute;
    margin-left: 30px;
    width: 30%;
    min-width: 200px;
    margin-top: -5%;
}

.avatar > img {
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    max-width: 30%;
}

.info {
    min-height: 50px;
    background-color: #E6E9ED;
    width: 100%;
    border-top: 2px solid #3BAFDA;
    border-bottom: 1px solid #F5F7FA;
    box-shadow: inset rgba(0, 0, 0, 0.21) 0px 0px 12px;

}

.info > .row {
    margin-left:20%;
}

.info > .row > .col-md-4 > img {
  max-height: 33px;
  min-height: 33px;
  margin-right: 10px;
  margin-top: -10px;
  display: inline-block;
}

.info > .row > .col-md-4 > h4 {
  display: inline-block;
  font-size: 16px;
}
.cover > img {
    width: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.profile-name {
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
}

.profile-name > h4 {
    color: #F5F7FA;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-shadow: #000 0px 0px 10px;
}

.profile-sidebar {
    margin: 10px 0 10px 10px;
}

.profile-content-box {
    box-shadow: inset rgba(0, 0, 0, 0.16) 0px 0px 10px 0px;
    border: 1px solid #f5f7fa;
    border-radius: 0px;
}

.profile-margin {
    margin: 10px;
}

#send-question > div {
    padding: 20px;
}
#question {
    margin-bottom:10px;
}

.profile-question:not(:last-child) {
    border-bottom: 2px solid #fff;
}

.profile-question {
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
}

.profile-question > li > a > img {
    max-width: 50px;
    border-radius: 50%;
}

.profile-question > li > div > h4 {
    display: inline-block;
}

.profile-question > li > div > p:first-of-type {
    display: inline-block;
    float: right;
}
