body {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif!important;
  font-size: 14px;
  line-height: 1.42857143;
  padding-bottom: 40px;
  background-color: rgb(241, 242, 246);
}

.navbar-default {
	background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  height: 70px;

  font-size: 1.09em;
  padding-top: 8px;
}

/**
 * Dropdown
 */

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover
{
  color:#434A54!important;
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover
{
    color:#434A54!important;
}

a, a:hover, a:focus {
  color: #F5F7FA!important;
  text-decoration: none; /* no underline */
  cursor: pointer;
}

.underline {
  color: #434A54!important;
  border-bottom: 2px solid transparent;
}

.underline:hover {
  color: #434A54!important;
  border-bottom: solid 2px #5D9CEC;
  transition: border-color .318s;
}

/**
 * Nav bar message
 */
#nav-message {
    width: 100%;
    margin-top: 10px;
    opacity: 0.8;
}

#inner-message {
    color: #F5F7FA;
    margin: 0 auto;
    border-radius: 0;
    padding: 8px;
    font-size: 16px;
}




