{% extends 'templates/app.twig' %}
{% block content %}
    <div class="row">
    	<div class="col-md-12">
            <div class="well">
                <div class="profile">
                    <div class="cover">
                        <img src="http://placehold.it/1120x250" class="img-rounded img-responsive">
                    </div>
                    <div class="avatar">
                        <img src="http://placehold.it/200x200" class="img-rounded img-responsive">
                    </div>
                    <div class="info">
                    </div>
                </div>
                
            </div>
    	</div>
    </div>
{% endblock %}